# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
coverage

# Dependency directories (may be project-specific)
vendor/

locatr_results.json

# Temporary files
*.log
*.tmp

*.cache

# IDE-specific files (for example, VSCode)
.vscode/
.idea/
*.swp
*.swo

# MacOS-specific files
.DS_Store

# Node modules if using Go with JS/TS
node_modules/

# Environment files (optional, if used)
.env
